# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Build
.next/
dist/
build/

# VSCode
.vscode/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
